# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Data / large files
data/images/
*.pt
*.bin
*.h5
*.npy
*.npz

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Env files
.env
